body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    direction: rtl;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    background-color: #337ab7;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info img {
    width: 80px; /* حجم الصورة */
    height: 80px;
    border-radius: 50%; /* يجعلها دائرية */
    margin-top: 10px;
    border: 2px solid white;
}

.details {
    margin-top: 20px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
}

.bottom-nav i {
    font-size: 24px;
    color: gray;
    cursor: pointer;
    transition: 0.3s;
}

.bottom-nav i:hover {
    color: #337ab7;
}
